.egg-info
__pycache__
*.bat
*.whl
*.gz
class_test.py
new_version.py
Makefile
docs/build
bot_test.py
tree.py
temp
bot_test.py
output.jpeg
classes.json
functions.json
texploit.py
windowsxp.jpg
logintest.py
